body {
    padding: 10vw;
    font-family: "Ubuntu", sans-serif;    
}

h1 {
    background-color: black;
    font-size: 18vw;
    justify-content: space-around;
    display: flex;
    color: white;
}

