body {
    padding: 12.5vw;
    font-family: "Ubuntu", sans-serif;    
}

h1 {
    background-color: black;
    font-size: 18vw;
    justify-content: space-around;
    display: flex;
    color: white;
}


/* for detecting dark theme  and making changes*/
@media (prefers-color-scheme: dark) {   
    body {
      background-color: #282828;
      color: #f3f3f3;
    }
}
  

